@import url('https://fonts.googleapis.com/css?family=Karla|Thasadith&display=swap');

.posts {
  display: block;
  list-style-type: none;
  margin: 0;
}

.post {
  border-radius: 0 0 4px 4px;
  margin: 2rem 1rem 6rem;

  a {
    display: block;
    text-decoration: none;
  }

  a:hover {
    background: #e4e4e4;
  }

  h2 {
    font-family: 'Karla',sans-serif;
    color: hsla(0, 0%, 0%, 0.8);
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 0.8rem;
  }

  p {
    color: hsla(0,0%,0%,0.6);
    font-size: 1.5rem;
    font-family: 'Thasadith',sans-serif;
    font-weight: 400;
    margin-bottom: 1.2rem;
  }  

}